.about__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}

.about__img {
  width: 350px;
  border-radius: 1.5rem;
  border: var(--container-border);
  justify-self: center;
}

.about__info {
  grid-template-columns: repeat(3, 140px);
  gap: 0.5rem;
  margin-bottom: var(--mb-2);
}

.about__box {
  display: flex;
  flex-direction: column;
  align-items: center; /* asegura que todo esté centrado horizontalmente */
  background-color: var(--container-color);
  border: var(--container-border);
  border-radius: 0.75rem;
  padding: 1rem 1.25rem;
  text-align: center;
}

.about__icon {
  font-size: 1.5rem;
  color: var(--title-color);
}

.about__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.1rem; /* reduce aún más el espacio con el subtítulo */
}

.about__subtitle {
  font-size: var(--tiny-font-size);
  line-height: 1.2;
  margin-top: 0rem; /* elimina separación extra */
}

/* TEXTO */
.about__description {
  text-align: justify;
  margin-bottom: var(--mb-2-5);
  width: fit-content;
  max-width: 100%;
  margin-inline: auto;
  padding: 0;
}

/* ================= BREAKPOINTS ================= */

/* Large devices */
@media screen and (max-width: 992px) {
  .about__container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }

  .about__img {
    width: 220px;
  }

  .about__box {
    padding: 0.75rem 0.5rem;
  }

  .about__data {
    text-align: center;
  }

  .about__info {
    justify-content: center;
  }

  .about__description {
    padding: 0 5rem;
    margin-bottom: 2rem;
    text-align: justify;
  }
}

/* Medium devices */
@media screen and (max-width: 768px) {
  .about__description {
    padding: 0 2rem;
  }
}

/* Small devices */
@media screen and (max-width: 576px) {
  .about__info {
    grid-template-columns: repeat(3, 1fr);
  }

  .about__description {
    padding: 0;
    text-align: left; /* mejor legibilidad en móvil */
    hyphens: auto;
  }
}

/* Tiny devices */
@media screen and (max-width: 350px) {
  .about__info {
    grid-template-columns: repeat(2, 1fr);
  }
}
